/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

h1 {
    font-family: 'Cookie', cursive;
    font-weight: normal;
    font-size: 71px;
    color: #E4F5EB;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 450px;
}

body {
    background-image: url(./assets/04-BG.png);
    margin: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    background-color: #ACCFB8;
    top: 0; 
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}


.content{
    width: 450px;
    margin:  auto;
    position: relative;
    
}



input[type="text"]{
    font-family: "Open Sans ";
    font-weight: lighter;
    font-size: 18px;
    width: 85%;
    margin-top: 4px;
    padding: 10px;    
    border-radius: 7px;
    margin-bottom:10px;
    
}
textarea{
    font-family: "Open Sans ";
    font-weight: lighter;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom:10px;
    width: 402px;
    height: 150px;
}

input[type="submit"]{
    font-family: "Open Sans ";
    font-weight: bold;
    font-size: 22px;
    width: 90%;
    background: #71A495;
    padding: 8px 50px;
    color: #fff;
    border-radius: 7px;
    
}
